form
{
    background-color: rgb(95, 113, 128);
}
#a
{
    color: #FF1700;
}
#b
{
    color: #FF8E00;
}
#c
{
    color: #FFE400;
}
#d
{
    color: #06FF00;
}
#e
{
    color: #22577E;
}
#f
{
    color: #84DFFF;
}