h1
{
    text-align: center;
    color: #370665;
    background-color: coral;
}
form
{
    font-size: 30px;
}
#a
{
    color: #35589A;
}
#b
{
    color: #F14A16;
}
#c
{
    color: #FC9918;
}
#d
{
    color: brown;
}